* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arial, sans-serif;
display:flex;
background-color: ;


  }
  
body{

    body {
        background-color: white;
        text-align: center;
        padding: 20px;
    }
    



}

 
  
  .container {
   

    font: 1.2em sans-serif;
    height: 200px;
    text-align: center;
    justify-content: center;
  } 